*
{
    margin: 0;
    padding: 0;
}
:root
{
    --theme: rgb(0, 30, 255);
}
.navbar
{
    list-style: none;    
    background-color: var(--theme);
    min-height: 3vw;
    display: flex;
    justify-content: space-between;

    
}

.navbar ul
{
    display: flex;
    height: 3vw;
    justify-content: end;
    align-self: flex-end;
}
.navbar ul li 
{
    padding: 0vh 1vw;
    display: inline;
}
.navbar ul li a 
{
    color: aliceblue;
    text-decoration: dashed;
}
.slider
{
    display: flex;
    flex-direction: row;    
    justify-content: center;
}
.image
{
    width: 500px;
}
.image1
{
    width: 100vw;
   
}
.image2
{
 
    

}
.image3
{
 
}
